// COLORS
$primary-color: #0B4619;
$secondary-color: #116530;

$white-color: #ECE7B4;

$dark-grey: #333333;
$light-grey: #ECE7B4;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
